// Komponenta obsahující všechny selecty, tlačítko a pokud jsou zobrazována data tak i graf

<template>
    <v-container>
    <v-card
        class="mx-auto"
        max-width="1200"
    >
        <v-toolbar>
            <v-card-title class="mx-auto" v-text="title">
            </v-card-title>
        </v-toolbar>
    </v-card>
            <form>
                <br>
                <v-row dense>
                    <v-select
                        v-model="selected_terminology"
                        :items="terminologies"
                        dense
                        outlined
                        hide-details
                        class="ma-2"
                        label="Terminologie"
                    ></v-select>
                    <v-select
                        v-model="selected_standard"
                        :items="standards"
                        dense
                        outlined
                        hide-details
                        class="ma-2"
                        label="Komunikační standard"
                    ></v-select>
                </v-row>
                <br>
                <v-row dense>
                    <v-select
                        v-model="Input.patient_id"
                        :items="patient_ids"
                        dense
                        outlined
                        hide-details
                        class="ma-2"
                        label="ID pacienta"
                    ></v-select>
                </v-row>
                <br>
                <v-row dense>
                    <v-select
                        v-model="Input.start_time"
                        :items="start_times"
                        item-text="disp"
                        return-object
                        dense
                        outlined
                        hide-details
                        class="ma-2"
                        label="Od"
                    ></v-select>
                    <v-select
                        v-model="Input.end_time"
                        :items="end_times"
                        item-text="disp"
                        return-object
                        dense
                        outlined
                        hide-details
                        class="ma-2"
                        label="Do"
                    ></v-select>
                </v-row>
                <br>
                <v-row dense>
                    <v-spacer/>
                    <v-select
                        v-model="Input.data_type"
                        :items="data_types"
                        :item-text="this.selected_terminology"
                        multiple
                        return-object
                        chips
                        dense
                        outlined
                        hide-details
                        class="ma-2"
                        label="Parametr"
                    ></v-select>
                    <v-spacer/>
                </v-row>
                <br>
                <v-card-actions>
                    <v-spacer/>
                    <v-btn
                        class="mr-4"
                        width="250"
                        @click="display"
                    >
                        Zobrazit
                    </v-btn>
                    <v-spacer/>
                </v-card-actions>
                <br>

                <!-- importovaný objekt s grafem !-->
                <apexchart v-if="data_received" type="area" height="350" :options="chartOptions" :series="series"></apexchart>
            </form>
    </v-container>
</template>
<script>
import VueApexCharts from 'vue-apexcharts';
import moment from 'moment';
export default {
    components: {apexchart: VueApexCharts},
    name: "Input",
    data() {
        return {
            //pole s daty pro graf
            series: [{
                name: "",
                data: []
            }],
            // nastavení grafu
            chartOptions: {
                chart: {
                    type: 'area',
                    stacked: false,
                    height: 350,
                    zoom: {
                        type: 'x',
                        enabled: true,
                        autoScaleYaxis: true
                    },
                    toolbar: {
                        autoSelected: 'zoom'
                    }
                },
                dataLabels: {
                    enabled: false
                },
                markers: {
                    size: 0,
                },
                title: {
                    text: "",
                    align: 'left'
                },
                fill: {
                    type: 'gradient',
                    gradient: {
                        shadeIntensity: 1,
                        inverseColors: false,
                        opacityFrom: 0.5,
                        opacityTo: 0,
                        stops: [0, 90, 100]
                    },
                },
                yaxis: {
                    labels: {
                        formatter: function (val) {
                            return val
                        },
                    },
                    title: {
                        text: '',
                    },
                },
                xaxis: {
                    type: 'datetime',
                    labels: {
                        formatter: function (val) {
                            return moment(val).format('DD.MM.YYYY HH:mm:ss');
                        },
                    },
                },
                tooltip: {
                    shared: false,
                    y: {
                        formatter: function (val) {
                            return val
                        }
                    }
                }
            },

            title: "Zobrazení dat",
            data_received: false, //true pokud přijdou data ze serveru a má se zobrazit graf

            // objekty s vybranými údaji ze selectů
            Input: {
                patient_id: "",
                start_time: "",
                end_time: "",
                data_type: []
            },
            InputOld: {
                patient_id: "",
                start_time: "",
                end_time: ""
            },

            //pole s výběry do selectů a předvybrané hodnoty
            data_types: [],
            patient_ids: [],
            start_times: [],
            end_times: [],
            standards: ["HL7", "HL7 FHIR"],
            selected_standard: "HL7",
            terminologies: ["Original", "SNOMED", "LOINC"],
            selected_terminology: "Original"
        }
    },
    methods: {
        //metoda pro poslání dat na server
        async display() {
            if (this.selected_standard === "HL7") {
                this.data_received = false;
                this.chartOptions.title.text = "";

                // Zapsání vybraných parametrů i s terminologií
                let data_type = "";
                if (this.selected_terminology === "Original") {
                    for (const key in this.Input.data_type) {
                        this.chartOptions.title.text = this.chartOptions.title.text + this.Input.data_type[key].Original + ", ";
                        data_type = data_type + this.Input.data_type[key].Original + "^Original" + "~";
                    }
                } else if (this.selected_terminology === "SNOMED") {
                    for (const key in this.Input.data_type) {
                        this.chartOptions.title.text = this.chartOptions.title.text + this.Input.data_type[key].SNOMED + ", ";
                        data_type = data_type + this.Input.data_type[key].SNOMED + "^SNOMED" + "~";
                    }
                } else if (this.selected_terminology === "LOINC") {
                    for (const key in this.Input.data_type) {
                        this.chartOptions.title.text = this.chartOptions.title.text + this.Input.data_type[key].LOINC + ", ";
                        data_type = data_type + this.Input.data_type[key].LOINC + "^LOINC" + "~";
                    }
                }
                this.chartOptions.title.text = this.chartOptions.title.text.slice(0, -2);
                data_type = data_type.slice(0, -1);

                // zavolání akce ze store pro komunikaci se serverem
                const response = await this.$store.dispatch("observations/loadObservationsHL7", {
                    input: this.Input,
                    data_type: data_type
                });

                // zavolání akce ze store pro poslání MSA
                await this.$store.dispatch("observations/sendMSA", {id: response[1]});

                // uložení získaných dat pro vykreslení
                this.series = response[0];
            }
            else if (this.selected_standard === "HL7 FHIR")
            {
                this.data_received = false;
                this.chartOptions.title.text = "";

                // Zapsání vybraných parametrů i s terminologií
                let data_types = [];
                if (this.selected_terminology === "Original") {
                    for (const key in this.Input.data_type) {
                        this.chartOptions.title.text = this.chartOptions.title.text + this.Input.data_type[key].Original + ", ";
                        let temp = this.Input.data_type[key].Original.split('^');
                        let datatype = {system: "Original", code: temp[0], display: temp[1]}
                        data_types.push(datatype);
                    }
                } else if (this.selected_terminology === "SNOMED") {
                    for (const key in this.Input.data_type) {
                        this.chartOptions.title.text = this.chartOptions.title.text + this.Input.data_type[key].SNOMED + ", ";
                        let temp = this.Input.data_type[key].SNOMED.split('^');
                        let datatype = {system: "SNOMED", code: temp[0], display: temp[1]}
                        data_types.push(datatype);
                    }
                } else if (this.selected_terminology === "LOINC") {
                    for (const key in this.Input.data_type) {
                        this.chartOptions.title.text = this.chartOptions.title.text + this.Input.data_type[key].LOINC + ", ";
                        let temp = this.Input.data_type[key].LOINC.split('^');
                        let datatype = {system: "LOINC", code: temp[0], display: temp[1]}
                        data_types.push(datatype);
                    }
                }
                this.chartOptions.title.text = this.chartOptions.title.text.slice(0, -2);

                // zavolání akce ze store pro komunikaci se serverem
                const response = await this.$store.dispatch("observations/loadObservationsHL7_FHIR", {
                    input: this.Input,
                    data_types: data_types
                });

                // uložení získaných dat pro vykreslení
                this.series = response;
            }
            this.chartOptions.yaxis.title.text = "value";
            this.data_received = true; // pro zobrazení objektu s grafem
        }
    },
    async mounted() {
        // při načítání stránky jsou ze serveru získány všechny parametry a ID pacientů
        this.data_types = await this.$store.dispatch("terms/loadTerms");
        this.patient_ids = await this.$store.dispatch("patients/loadPatientIds");
    },
    watch: {
        Input: {
            async handler(value) {
                // hlídá změny ve vybraných hodnotách selectů
                // při změně id pacienta se načtou možné počáteční časy
                if (this.InputOld.patient_id !== value.patient_id) {
                    this.start_times = [];
                    this.end_times = [];
                    this.start_times = await this.$store.dispatch("times/loadTimesForPatient", value.patient_id);
                    this.InputOld.patient_id = value.patient_id;

                // při změně počátečního času se vypočítají možné konečné časy
                } else if (this.InputOld.start_time !== value.start_time) {
                    this.end_times = [];
                    for (const key in this.start_times) {
                        if (parseInt(this.start_times[key].value) >= parseInt(value.start_time.value))
                            this.end_times.push(this.start_times[key])
                    }
                }
            },
            deep: true
        }
    }
}
</script>

<style scoped>

</style>
