// defaultní layout

<template>
    <v-app dark>
        <v-app-bar
            :clipped-left="clipped"
            fixed
            app
        >
            <v-btn to="/" >
                <v-icon left>
                    mdi-home
                </v-icon>
                Domů
            </v-btn>
            <v-spacer/>
            <v-btn @click="loadData">
                Načíst data do databáze
            </v-btn>
            &nbsp;&nbsp;&nbsp;
            <v-btn @click="loadTerminology">
                Načíst terminologii
            </v-btn>
        </v-app-bar>

        <v-main>
            <v-container>
                <Nuxt/>
            </v-container>
        </v-main>
        <v-footer
            :absolute="!fixed"
            app
        >
            <span>&copy; {{ new Date().getFullYear() }}</span>
        </v-footer>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            clipped: true,
            fixed: false
        }
    },
    methods: {
        // Naplnění databáze
        async loadData() {
            await this.$axios.$get('/file/loadFiles');
        },
        async loadTerminology() {
            await this.$axios.$get('/file/loadTerminology');
        }
    }
}
</script>
