// Hlavní stránka, pouze načtení komponenty Input

<template>
    <v-row>
        <v-col>
            <Input></Input>
        </v-col>
    </v-row>
</template>

<script>
import Input from "../components/Input.vue";
export default {
    components: {Input},
    data() {
        return {
        }
    }
}
</script>
